.recent-posts {
  @include flex-column-center;
  @include section-font;

  &__body {
    padding-top: 66px;
    padding-bottom: 70px;
  }

  &__title {
    font-size: 16px;
    padding-bottom: 24px;
    text-align: left;
    color: $title-color;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

.recent-posts-item {
  display: flex;

  &__content {
    padding-left: 20px;
    text-align: left;
  }

  &__title {
    @include font(700, 16px, 30px, none);
    color: $title-color;
  }

  &__meta {
    font-size: 12px;
    line-height: 20px;
    color: #7c7c7c;
  }

  &__text {
    padding-top: 12px;
    font-size: 14px;
    line-height: 26px;
    color: $text-color;
  }
}

@media (max-width: 768px) {
  .recent-posts {
    &__grid {
      @include flex-column-center;
    }
  }
}

@media (max-width: 320px) {
  .center-container {
    margin: 0;
  }

  .recent-posts {
    @include flex-column-left;

    &__body {
      padding-top: 38px;
      padding-bottom: 38px;
    }

    &__title {
      font-size: 14px;
    }

    &__grid {
      gap: 28px;
    }
  }

  .recent-posts-item {
    @include flex-column-left;
    &__content {
      padding: 0;
    }
    &__title {
      padding-top: 10px;
      font-size: 14px;
    }

    &__meta {
      font-size: 11px;
    }

    &__text {
      display: none;
    }
  }
}
