.header {
  &__image {
    width: 100%;
  }

  &__btn-container {
    display: none;
  }
}

.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.menu {
  position: relative;

  &__list {
    @extend %flex-null-center;
    padding: 40px 150px 40px 150px;
  }

  &__link {
    @include font(400, 11px, 22px, uppercase);
    text-decoration: none;
    letter-spacing: 1.1px;
    color: #4e4e4e;

    &:hover {
      color: $hover-color;
      background-color: #e5e5e5;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__btn-container {
      display: flex;
      justify-content: flex-end;
      padding: 24px 0;
    }
  }

  .menu-button {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #000;
    border: none;
  }

  .menu {
    position: absolute;
    top: 64px;
    right: 15px;
    display: block;
    width: 182px;
    height: 208px;
    background-color: #f5f5f5;

    &__list {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    &__item {
      width: 100%;
      text-align: left;
    }

    &__link {
      @include font(400, 11px, 22px, uppercase);
      display: inline-block;
      width: calc(100% - 15px);
      padding: 4px 0 4px 15px;
      letter-spacing: 1.1px;
      color: #4e4e4e;

      &:active {
        color: $hover-color;
      }
      &:focus {
        background-color: #e5e5e5;
      }
    }
  }
}
