// student #1

@mixin font(
  $font-family,
  $font-weight,
  $font-size,
  $line-height,
  $text-transform
) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: $text-transform;
}

@mixin section-font {
  font-family: $main-font;
  font-style: normal;
}

@mixin padding-LR($padding-left, $padding-right) {
  padding-left: $padding-left;
  padding-right: $padding-right;
}

// student #2
