.header-container {
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.header {
  margin: auto;
  height: 800px;
  background-image: url('../dist/img/header/header-bg.png');
  background-color: #010005;
  background-repeat: no-repeat;
  background-position: center;

  & a {
    text-decoration: none;
  }

  &__logo-block {
    display: flex;
    align-items: center;

    &:hover > .header__logo-icon {
      background-image: url('../dist/img/header/logo-img-hover.png');
    }

    &:hover > .header__logo-text {
      color: #ffffff;
    }
  }

  &__logo-icon {
    background-image: url('../dist/img/header/logo-img.png');
    width: 43px;
    height: 42px;
  }

  &__logo-text {
    padding-left: 17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8d81ac;
  }

  &__top-menu-block {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
  }

  &__title {
    padding-top: 116px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }

  &__subtitle {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #8d81ac;
  }

  &__text {
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #848e97;
  }

  &__download-button-block {
    position: absolute;
    left: 0;
    right: 0;
    top: 764px;
  }

  &__download-button {
    padding: 23px 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    background: #8d81ac;
    border: 2px solid #8d81ac;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      color: #8d81ac;
      background: #ffffff;
      border: 2px solid #8d81ac;
    }
  }

  &__text-after-btn {
    padding-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #848e97;
  }
}

.menu-mobile {
  margin: 0 auto;
  height: 0;
  width: 0;
}

.menu {
  display: flex;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 48px;
  flex-shrink: 0;
  gap: 0;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding-right: 48px;

    &:last-child {
      padding: 0;
    }
  }

  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #8d81ac;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }
}

.buy-button {
  padding: 11px 0;
  min-width: 145px;
  text-align: center;
  background: #8d81ac;
  border: 1px solid #8d81ac;
  border-radius: 40px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;

  &:hover {
    background: #ffffff;
    border: 1px solid #8d81ac;
    border-radius: 40px;
    color: #8d81ac;
  }
}

.menu-button {
  background: none;
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;

  & img {
    background-color: #27262a;
    margin: 0;
    padding: 0;
    border: 0;
    width: 26px;
    height: 26px;
  }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    &__top-menu-block {
      justify-content: space-between;
      background-color: #27262a;
      padding-top: 24px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 55px;
    }

    &__title {
      padding-top: 68px;
      font-size: 72px;
      line-height: 72px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 24px;
    }

    &__text {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .menu {
    position: absolute;
    display: flex;
    margin: 0;
    left: 0;
    right: 0;
    top: 85px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    &__list {
      justify-content: center;
    }

    &__item {
    }

    &__item:last-child {
      padding: 0;
    }
  }
}

@media screen and (max-width: 536px) {
  .menu {
    &__item {
      padding-right: 29px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    height: 718px;

    &__logo-text {
      display: none;
    }
    &__top-menu-block {
      background-color: #27262a;
      justify-content: space-between;
      padding-top: 34px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 32px;
    }

    &__title {
      padding-top: 50px;
      font-size: 48px;
      line-height: 48px;
    }

    &__subtitle {
      padding-left: 25px;
      padding-right: 25px;
      font-family: 'Montserrat';
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;
    }

    &__download-button-block {
      top: 692px;
    }

    &__download-button {
      padding: 13px 29px;
      font-size: 18px;
      line-height: 20px;
    }

    &__text-after-btn {
      padding-top: 12px;
      font-size: 14px;
      line-height: 14px;
    }
  }

  .menu {
    display: none;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 108px;
    padding-left: 20px;
    padding-right: 20px;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #333333;
      overflow: hidden;
    }

    &__item,
    &__item:last-child {
      border-bottom: 2px solid #3b3b3b;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      padding-right: 0;
    }

    &__link {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      padding-left: 34px;
      padding-top: 30px;
      padding-bottom: 20px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;

      &:active {
        color: #8d81ac;
        outline: 0;
        outline-offset: 0;

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          top: 12px;
          width: 8px;
          height: 53px;
          background-color: #8d81ac;
        }
      }

      &:focus {
        color: #8d81ac;
        outline: 0;
        outline-offset: 0;

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          top: 12px;
          width: 8px;
          height: 53px;
          background-color: #8d81ac;
        }
      }
    }
  }

  .menu-button {
    display: block;
    height: 26px;
  }
}
