.section-box {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.reviews {
  // margin-top: -10px;

  // background-size: cover;
  // min-width: 1200px;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-attachment: local;
  // width: 100%;
  // height: 1984px;
  // margin: auto;
  //

  // margin: auto;
  // max-width: 1200px;
  // height: 910px;
  // height: 100vw;
  // background-size: cover;
  // justify-content: space-between;
  background: url('../dist/img/reviews_section_img/reviews_section_background.png');
  // background-repeat: no-repeat;
  background-position: center;
  // background-attachment: local;
  background-size: cover;

  &__container {
    padding-top: 108px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    // margin-left: auto;
    // margin-right: auto;
    // max-width: 1200px;
    // overflow: hidden;
  }

  &__title {
    padding-bottom: 86px;
    font-size: 48px;
    line-height: 50px;
    color: #ffffff;
  }

  &__list {
    padding-top: 82px;
    padding-bottom: 115px;
    list-style: none;
    padding: 0;
    display: grid;
    column-gap: 90px;
    row-gap: 110px;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    &_el {
      display: grid;
      grid-template-rows: 1fr 2fr;
      place-items: center;
      align-content: space-between;
      height: 170px;
    }

    &_paragraph {
      font-family: 'Lato', sans-serif;
      color: #ffffff;
      font-style: italic;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text_wrapper {
    padding-top: 118px;
    padding-bottom: 30px;
    max-width: 880px;
    margin: 0 auto;
    position: relative;
  }

  &__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #a291a5;

    &:after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #645766;
      bottom: 11px;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      // margin-top: 18px;
    }
  }
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 992px) {
  .reviews {
    background-size: cover;

    &__container {
      padding-top: 86px;
    }

    &__list {
      column-gap: 63px;
      row-gap: 58px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &__title {
      font-size: 42px;
      line-height: 44px;
    }

    &__text_wrapper {
      padding-top: 68px;
    }
  }
}

@media (max-width: 480px) {
  .reviews {
    &__container {
      padding-top: 58px;
    }

    &__list {
      row-gap: 45px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }

    &__title {
      padding-bottom: 54px;
      font-size: 36px;
      line-height: 48px;
    }

    &_paragraph {
      max-width: 270px;
    }

    &__text_wrapper {
      padding-top: 37px;
      padding-bottom: 22px;
      max-width: 250px;
    }
  }
}
