.container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.revolution_editor{
  background: #FFFFFF;
  &__header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: #635C73;
    margin: 70px 0 35px 0;
    text-align: center;
  }
  &__paragraph{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    margin: 0 0 15px 0;
  }
  &__link{
    display: flex;
    text-decoration: none;
    color: black;
  }
  &__button_list{
    list-style: none;
    display: flex;
    align-items: center;
    width: 500px;
    padding: 0;
    margin: 20px auto 70px auto;
    justify-content: center;
    gap: 10px;
  }
  &__list_el{
    display: flex;
    border: 1px solid #c9d1d9;
    border-radius: 5px;

  }
  &__svg_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-right: 1px solid #c9d1d9;
    background: linear-gradient(360deg, #dee1e1 20%, #f4f4f4 50%)
  }
  &__wrapper_header{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 5px;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
  }
  &__count_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
  }
  &__count{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
  }
}


