@import '_variables';
@import '_mixins';
@import '_header';
@import '_recent-posts';
@import '_instagram-shots';
@import '_footer';

.g-center-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

.g-section-title {
  @include font(700, 16px, 22px, uppercase);

  &::before {
    content: '- ';
  }
}
